.actTitle {
    font-size: 30px;
    color: #23364d;
    padding-top: 40px;
    padding-bottom: 30px;
    letter-spacing: 2px;
    width: 90%;
    margin-left: 5%;
    margin-top: 100px;
}

.shapesContainer {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 100px;
}

.scrollToLeftEvent,
.scrollToRightEvent {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
    background-color: rgba(221, 221, 221, 0.719);
    position: absolute;
    top: 250px;
    z-index: 9999;
    cursor: pointer;
    opacity: 0.8;
}

.scrollToLeftEvent {
    left: 1%;
}

.scrollToRightEvent {
    right: 1%;
}

.scrollEvents {
    width: 90%;
    height: 100%;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-left: 5%;
}

.scrollEvents::-webkit-scrollbar {
    height: 2px;
}

.scrollEvents::-webkit-scrollbar-thumb {
    background: rgba(221, 221, 221, 0.719);
    border-radius: 0px;
}

.events {
    width: 2000px;
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    overflow-x: scroll;
    z-index: 0;
}

.oneShape {
    width: 350px;
    height: 550px;
    position: relative;
    background: linear-gradient(135deg, rgb(231, 231, 231) 30%, rgba(255, 255, 255, 0.473));
    border-top: 3px blue solid;
}

.eventImgContainer {
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.eventImgContainer>img {
    width: 100%;
    height: auto;
}

.eventTitle {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
    color: #23364d;
}

.eventDescription {
    font-size: 16px;
    text-align: justify;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    color: #23364d;
    font-family: 'OswaldLight' !important;
    text-transform: lowercase !important;
}

.readMoreAboutEvent {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    border: 1px #23364d solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #23364d;
    padding: 5px;
    bottom: 10px;
    cursor: pointer;
}

@media (max-width:400px) {
    .actTitle {
        margin-left: 3%;
        width: 94%;
    }
    .scrollEvents {
        width: 94%;
        margin-left: 3%;
    }
}
.eventDetailsContainer {
    width: 100%;
    height: 100%;
    background-color: #0000004d;
    position: fixed;
    top: 0;
    z-index: 99999;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.closeIconForEventDetails {
    width: 100%;
    height: 40px;
    direction: rtl;
}

.closeIconForEventDetails>img {
    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffffb0;
}

.eventDetails {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 10px
}

.titleInfoAboutEvent {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.eventBigTitle {
    width: 30%;
    height: 400px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color:#23364d;
    margin-top: 50px;
    flex-grow: 1;
}

.imageTitleContainer {
    width: 70%;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageTitleContainer>img {
    height: 100%;
    width: auto;
    border-radius: 5px;
}
.eventDetailsTextAboutEvent{
    color: #23364d;
    padding-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 80px;
    font-size: 20px;
    font-family: 'OswaldLight' !important;
    line-height: 45px;
    text-align:justify;
    text-indent: 50px;
    hyphens:auto;
}

@media (max-width:1000px) {
    .eventBigTitle {
    width: 50%;
    height: auto;
}

.imageTitleContainer {
    width: 50%;
    height: auto;
    display: block;
}
.imageTitleContainer>img {
    height: auto;
    width: 100%;
    border-radius: 5px;
}
.eventDetailsTextAboutEvent{
    padding-bottom: 40px;
    font-size: 18px;
    line-height: 35px;
    text-indent: 30px;
}
}
@media (max-width:700px) {
    .eventBigTitle {
    width: 100%;
    height: auto;
    font-size: 40px;
}

.imageTitleContainer {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: block;
}
.imageTitleContainer>img {
    height: auto;
    width: 100%;
    border-radius: 5px;
    position: relative;
}
.eventDetailsTextAboutEvent{
    padding-bottom: 4px;
    font-size: 18px;
    line-height: 35px;
    text-indent: 30px;
}
}