<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="ccse">
    <meta name="description" content=" LE CABINET CCSE EST UN CABINET INDÉPENDANT SPÉCIALISÉ DANS LE CONSULTING, LA FORMATION, L’ACCOMPAGNEMENT, L’ASSISTANCE, L’ORIENTATION ET LE DÉVELOPPEMENT DU CAPITAL HUMAIN, DEPUIS 2011.">
    <link rel="icon" href="../../PUBLIC/IMAGES/icon.png">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <script src="../../PUBLIC/JS/global.js"></script>
    <link rel="stylesheet" href="./landingPage.css">
    <link rel="stylesheet" href="./navBar.css">
    <script src="./landingPage.js"></script>
    <title>CCSE</title>
</head>

<body onclick="DropUp(event)+closeLinksPhone(event)">
    <nav>
        <div class="logo">
            <img src="../../PUBLIC/IMAGES/landingPage/ccseLogo.png" alt="">
        </div>
        <div class="serviceDropDownListNavBar" id="dropDown" onclick="DropDwon(event)">
            <div class="serviceDropDownTitle">
                <p>
                    SERVICES
                </p>
                <img src="../../PUBLIC/IMAGES/landingPage/chevron-up.svg" alt="chevronUp" id="chevronDropDown">
            </div>
            <div class="linkServicesContainer">
                <a href="#" class="oneServiceContainer">
                    JURIDIQUE
                </a>
                <a href="#" class="oneServiceContainer">
                    CONSEIL
                </a>
                <a href="#" class="oneServiceContainer">
                    COACHING
                </a>
                <a href="#" class="oneServiceContainer">
                    INGÉNIERIE DE FORMATION
                </a>
                <a href="#" class="oneServiceContainer">
                    GRH
                </a>
                <a href="#" class="oneServiceContainer">
                    FORMATION
                </a>
            </div>
        </div>
        <a href="#" class="locationSalle">
            location Salle
        </a>
        <a href="#" class="contactUs">
            contanct nous
        </a>
        <div class="navList">
            <img src="../../PUBLIC/IMAGES/landingPage/list.svg" alt="list " onclick="openLinksPhone(event)">
            <div class="linksPhoneSize" id="linksPhoneSize">
                <a href="#" class="linkPhone">
                    SERVICES
                </a>
                <a href="#" class="linkPhone">
                    location Salle
                </a>
                <a href="#" class="linkPhone">
                    contanct nous
                </a>
            </div>
        </div>
    </nav>
    <div class="firstBlockBackground">
        <div class="landingPageContainer">
            <div class="landingPageDescriptionContainer">
                <div class="title">
                    cabinet de consulting et services aux entreprises
                </div>
                <div class="companyDescription">
                    LE CABINET CCSE EST UN CABINET INDÉPENDANT SPÉCIALISÉ DANS LE CONSULTING, LA FORMATION, L’ACCOMPAGNEMENT, L’ASSISTANCE, L’ORIENTATION ET LE DÉVELOPPEMENT DU CAPITAL HUMAIN, DEPUIS 2011.
                </div>
            </div>
            <div class="landingPageDesignContainer">
                <div class="subContainer">
                    <div class="designElement5"> CCSE</div>
                    <div class="designElement4">
                        11
                        <span>
                        ans
                    </span>
                    </div>
                    <div class="designElement0">
                        <img src="../../PUBLIC/IMAGES/landingPage/animationDesignImage_1.png" alt="">
                    </div>
                    <div class="designElement1">
                        <img src="../../PUBLIC/IMAGES/landingPage/animationDesignImage_2.png" alt="">
                    </div>
                    <div class="designElement2">
                        <img src="../../PUBLIC/IMAGES/landingPage/animationDesignImage_3.png" alt="">
                    </div>
                    <div class="designElement3">
                    </div>
                    <div class="designElement6">
                    </div>
                    <div class="designElement7">
                    </div>
                    <div class="designElement8">
                    </div>
                    <div class="designElement9">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>