<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div id="Container">
        <div class="threeCards">
            <div class="header">
                <h2><span id="spanPrix">299.99 DH</span> / Jours</h2>
                <div class="category">
                    <h1>Amateur</h1>
                </div>
            </div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA </div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA</div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA</div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA</div>
            <div id="btn"><a href="#">Consulter</a></div>
        </div>
    </div>
</body>
</html>