<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="title-container">
        <p>
            SALLE MULTIMÉDIA ÉQUIPÉE POUR RÉUNIONS,FORMATIONS,SÉMINAIRES ET CONFÉRENCES.
        </p>
    </div>
    <div id="Container">
        <div class="Card">
            <div class="price-category">
                <h2><span id="spanPrix">129.99 DHS</span> / Jour</h2>
                <div class="category">
                    <h1>Amateur</h1>
                </div>
            </div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Valide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Invalide.svg" alt="Invalide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Invalide.svg" alt="Valide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Invalide.svg" alt="Invalide"></div>
            <a id="btn">Consulter</a>
        </div>
        <div class="Card">
            <div class="price-category">
                <h2><span id="spanPrix">299.99 DHS</span> / Jour</h2>
                <div class="category">
                    <h1>Amateur</h1>
                </div>
            </div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Valide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Invalide.svg" alt="Invalide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Invalide.svg" alt="Valide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Invalide"></div>
            <a id="btn">Consulter</a>
        </div>
        <div class="Card">
            <div class="price-category">
                <h2><span id="spanPrix">499.99 DHS</span> / Jour</h2>
                <div class="category">
                    <h1>Amateur</h1>
                </div>
            </div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Valide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Invalide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Valide"></div>
            <div class="details">AAAAAAAAAAAAAAAAAAAA <img src="../../PUBLIC/IMAGES/Valide.svg" alt="Invalide"></div>
            <a id="btn">Consulter</a>
        </div>
        
    </div>
</body>
</html>