 
  #Container { 
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    
  }  
  .title-container{
    width: 1020px;
    margin-left: 50%;
    font-size: 22px;
    transform: translateX(-50%);
    letter-spacing: 1px;
    margin-top: 30px;
}
  .Card {
    width: 300px;
    height: 520px;
    margin: 30px;
    position: relative;
    transition:  0.2s ease-in;
    box-shadow:0px 10px 30px #333;
    border-radius: 20px;
  }
  
  .Card:hover {
    transform: scale(1.1);
  }
  
  .price-category {
    height: 200px;
    width: 300px;
    position: relative;
    background-image: url("../../PUBLIC/IMAGES/Salle.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .price-category h2 {
      margin: 0;
      position: relative;
      top: 145px;
      left: 5px;
      font-family: 'Lato';
      font-size: 15px;
      z-index: 100;
  }
  #spanPrix {
    font-size: 38px;
  }
  
  .category {
    height: 80px;
    width: 300px;
    position: absolute;
    bottom: 0;
    border-bottom: 100px solid rgba(211, 213, 214, 0.637);
    border-right: 300px solid transparent;
  }
  
  .category h1 {
    margin: 0;
    text-align: center;
  font-size: 30px;
  position: relative;
  top: 30px;
  }
  .details {
    background: white;
    height: 60px;
    text-align: center;
    line-height: 60px;
    transition: 0.2s;
  }
  .details:hover {
   background: rgba(181, 208, 230,0.1);
  }
  .details img {
    width: 25px;
    text-align: center;
    position: relative;
    top: 5px;
    right: -10px;
  }
  #valide{
    fill: #2fe22f;
  }
  #btn {
    background: white;
    height: 80px;
  }
  
  #btn{
    text-decoration: none;
    font-family: 'lato';
    height: 50px;
    width: 200px;
    display: block;
    margin: auto;
    text-align: center;
    line-height: 50px;
    position: relative;
    top: 10px;
    border-radius: 15px;
    border:1px solid #22A7F0;
    background: rgba(34, 167, 240, 0.8);
    transition: 0.2s;
  }
  #btn:hover   {
    background: rgba(34, 167, 240, 0.5);
    color: black;
    cursor: pointer;
  }  
  @media screen and (max-width: 1200px) {   
  #Container {
    width:100%;
    height: 2000px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
  }
  }