<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="ref-container">
    <div class="references">
        <img src="../../PUBLIC/IMAGES/Références/Logos/AL_AMANA.png" name="../../PUBLIC/IMAGES/Références/AL_AMANA.png" alt="refernece" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/ANAPEC.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/ANAPEC.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/BRICOMA.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/BRICOMA.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/OFPPT.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/OFPPT.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/GIAC.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/GIAC.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/GIAC_TER.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/GIAC_TERTIAIRE.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/InstitutionMoulayIsmail.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/INSTITUTION_MOULAYISMAIL.png"   onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/IRRIEST.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/IRRIEST.png"   onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/MOULOUYA.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/MOULOUYA.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
        <img src="../../PUBLIC/IMAGES/Références/Logos/SMS.png" alt="refernece" name="../../PUBLIC/IMAGES/Références/SMS.png"  onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
    </div>
</div>
</body>
    <script>
        function $(id) {
            return document.getElementById(id)
        }
        function changeImages(event) {
            var source=event.getAttribute("src")
            var newsource=event.getAttribute("name")
                event.setAttribute('src',newsource)
                event.setAttribute('name',source)
                // event.style.animationName='animation_logos'
            }
    </script>
</html>

</html>