<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="./refernces.css">
    <script src="../../PUBLIC/JS/global.js"></script>
    <script src="./refernces.js"></script>
</head>

<body>
    <div class="referencesTitle">
        references
    </div>
    <div class="referncesContainer">
        <img src="../../PUBLIC/IMAGES/chevron_left.svg" alt="chevron left" class="scrollToLeft" onclick="scrollToLeft()">
        <div class="scroll" id="scroll">
            <div class="references" id="references">
                <img src="../../PUBLIC/IMAGES/refernces/AL_AMANAb.png" name="../../PUBLIC/IMAGES/refernces/AL_AMANA.png" alt="refernece" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/ANAPECb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/ANAPEC.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/BRICOMAb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/BRICOMA.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/OFPPTb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/OFPPT.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/GIACb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/GIAC.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/GIAC_TERTIAIREb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/GIAC_TERTIAIRE.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/INSTITUTION_MOULAYISMAILb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/INSTITUTION_MOULAYISMAIL.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/IRRIESTb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/IRRIEST.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/MOULOUYAb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/MOULOUYA.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
                <img src="../../PUBLIC/IMAGES/refernces/SMSb.png" alt="refernece" name="../../PUBLIC/IMAGES/refernces/SMS.png" onmouseenter="changeImages(this)" onmouseleave="changeImages(this)">
            </div>
        </div>
        <img src="../../PUBLIC/IMAGES/chevron_right.svg" alt="chevron left" class="scrollToRight" onclick="scrollToRight()">
    </div>
</body>

</html>

</html>