<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./index.css">
    <script src="../../PUBLIC/JS/global.js"></script>
    <title>Document</title>
    <link rel="stylesheet" href="./act.css">
    <script src="./act.js"></script>

</head>

<body>
    <div class="actTitle">
        Services
    </div>
    <div class="shapesContainer">
        <img src="../../PUBLIC/IMAGES/chevron_left.svg" alt="chevron left" class="scrollToLeftEvent" onclick="scrollToLeftEvent()">
        <div class="scrollEvents" id="scrollEvents">

            <div class="events">
                <div class="oneShape">
                    <div class="eventImgContainer">
                        <img src="../../PUBLIC/IMAGES/rentalHalls/84a206.png" alt="event img">
                    </div>
                    <div class="eventTitle">
                        the first company at jerada
                    </div>
                    <div class="eventDescription">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure dolorum architecto illum odio error, doloremque voluptate dolorem optio, cum labore necessitatibus aperiam atque libero accusantium minima beatae temporibus voluptas quae. ... </div>
                    <div class="readMoreAboutEvent">
                        read more
                    </div>
                </div>
                <div class="oneShape">
                    <div class="eventImgContainer">
                        <img src="../../PUBLIC/IMAGES/rentalHalls/84a206.png" alt="event img">
                    </div>
                    <div class="eventTitle">
                        the first company at jerada
                    </div>
                    <div class="eventDescription">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure dolorum architecto illum odio error, doloremque voluptate dolorem optio, cum labore necessitatibus aperiam atque libero accusantium minima beatae temporibus voluptas quae. ... </div>
                    <div class="readMoreAboutEvent">
                        read more
                    </div>
                </div>
                <div class="oneShape">
                    <div class="eventImgContainer">
                        <img src="../../PUBLIC/IMAGES/rentalHalls/84a206.png" alt="event img">
                    </div>
                    <div class="eventTitle">
                        the first company at jerada
                    </div>
                    <div class="eventDescription">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure dolorum architecto illum odio error, doloremque voluptate dolorem optio, cum labore necessitatibus aperiam atque libero accusantium minima beatae temporibus voluptas quae. ... </div>
                    <div class="readMoreAboutEvent">
                        read more
                    </div>
                </div>
                <div class="oneShape">
                    <div class="eventImgContainer">
                        <img src="../../PUBLIC/IMAGES/rentalHalls/84a206.png" alt="event img">
                    </div>
                    <div class="eventTitle">
                        the first company at jerada
                    </div>
                    <div class="eventDescription">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure dolorum architecto illum odio error, doloremque voluptate dolorem optio, cum labore necessitatibus aperiam atque libero accusantium minima beatae temporibus voluptas quae. ... </div>
                    <div class="readMoreAboutEvent">
                        read more
                    </div>
                </div>
                <div class="oneShape">
                    <div class="eventImgContainer">
                        <img src="../../PUBLIC/IMAGES/rentalHalls/84a206.png" alt="event img">
                    </div>
                    <div class="eventTitle">
                        the first company at jerada
                    </div>
                    <div class="eventDescription">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure dolorum architecto illum odio error, doloremque voluptate dolorem optio, cum labore necessitatibus aperiam atque libero accusantium minima beatae temporibus voluptas quae. ... </div>
                    <div class="readMoreAboutEvent">
                        read more
                    </div>
                </div>
            </div>
        </div>
        <img src="../../PUBLIC/IMAGES/chevron_right.svg" alt="chevron left" class="scrollToRightEvent" onclick="scrollToRightEvent()">
    </div>
</body>

</html>