<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./index.css">
    <title>Document</title>
</head>

<body>
    <div class="rentalHalls">
        <p class="descriptionText">
            Nous mettons nos salles à votre disposition
        </p>
        <div class="details">
            <div class="priceDetail">
                <img src="../../PUBLIC/IMAGES/COACHING.svg" alt="Desc icon" class="dtailIcon">
                <p class="detailTitle">
                    DES TARIFS TRÈS ATTRACTIFS
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
            </div>
            <div class="equipementDetails">
                <img src="../../PUBLIC/IMAGES/COACHING.svg" alt="Desc icon" class="dtailIcon">
                <p class="detailTitle">
                    DES ÉQUIPEMENTS VARIÉS
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
            </div>
            <div class="featuesDetails">
                <img src="../../PUBLIC/IMAGES/COACHING.svg" alt="Desc icon" class="dtailIcon">
                <p class="detailTitle">
                    DES SERVICES SUR MESURE
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
                <p class="detailElement">
                    <img src="../../PUBLIC/IMAGES/check.svg" alt="check icon"> Devis Instantane Sur Simple Appel
                </p>
            </div>
        </div>
    </div>
</body>

</html>