.indicateur-container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.cart-indicateur{
    width: 220px;
    height: 100px;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.cart-indicateur img{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}
.chiffres .num{
    font-size: 40px;
    color: #222;
}
.category {
    font-size: 20px;
}
@media screen and (max-width:470px) {
    .cart-indicateur{
        margin: 80px;
    }
    .indicateur-container{
        height: auto;
    }
}
@media screen and (max-width:300px) {
    .category{
        font-size: 13px;
    }
}