<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Montserrat/Font.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <title>Document</title>
</head>
<body>
    <div class="Header-container">
        <div class="logo-image">
            <img src="../../PUBLIC/IMAGES/CcseLogo.png" width="150" alt="CCSE LOGO">
        </div>
        <nav class="Navbar-container">
          <ul class="links">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
    </div>
    <div class="Center-content">
        <h1>
           <span>C</span>abinet de <span>C</span>onsulting et <span>S</span>ervices aux <span>E</span>ntreprises
        </h1>
        <p>
            Le partenaire de la réussite
        </p><br>
        <button>
            About
        </button>
    </div>
</body>
</html>