.Header-container{
    display: flex;
    margin: 0 150px;
    justify-content: space-between;
    align-items: center;
}
.Navbar-container .links{
    display: flex;  
}
.Navbar-container .links li {
  padding: 0 30px;
  list-style: none;
}
.Navbar-container .links li a {
    color: black;
}
ul li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #3e4dd3;
    transition: 0.5s;
}
ul li a:hover:after{
    width: 100%;
}
.Center-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:0 0 300px 300px;
    background-image: url('../../PUBLIC/IMAGES/consulting-room.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 70vh;  
    position: relative;
}
.Center-content .section{
    display: flex;
    position: relative;
    top: -30px;
    flex-direction: column;
    align-items: center;
}
.Center-content h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.Center-content p{
    color: white;
    font-size: 30px;
}
.Center-content h1 span {
    -webkit-text-fill-color: transparent;
    font-size: 150px;
    font-weight: 600;
    -webkit-text-stroke-width: 0.1px;
}
.Center-content button {
    padding:5px 5px;
    width: 130px;
    background: none;
    color: white;
    cursor: pointer;
    border: 1px solid white;
    /* border-image: linear-gradient(to left, #0077cc, #ffffff,red) 1; */
}