<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./index.css">
    <script src="../../PUBLIC/JS/global.js"></script>
    <title>Document</title>
</head>


<body>
    <footer id="footer">
        <div class="sendMessageWindowParrent" id="sendMessageWindowParrent">
            <div class="windowForScrollingInphone">
                <div class="sendMessageWindow">
                    <div class="closeMessageWindow" onclick="closeMessageWindow()">
                        <img src="../../PUBLIC/IMAGES/rentalHalls/close.svg" alt="close window">
                    </div>
                    <div class="sendMessageTitle">
                        Sélectionnez les jours
                    </div>
                    <div class="inputSendMessage">
                        <div>
                            <img src="../../PUBLIC/IMAGES/footer/persone.svg" alt="input icon">
                        </div>
                        <input type="text" id="fullNameForUser" placeholder="full name">
                    </div>
                    <div class="inputSendMessage">
                        <div>
                            <img src="../../PUBLIC/IMAGES/footer/phone.svg" alt="input icon">
                        </div>
                        <input type="text" id="fullNameForUser" placeholder="phone number">
                    </div>
                    <label for="message" class="textareaLabel">
                        write your message here
                    </label>
                    <textarea name="message" id="message" class="message"></textarea>
                    <button class="sendMessageButton">
                        send message
                    </button>
                </div>
            </div>
        </div>
        <div class="rightWithLogo">
            <img src="../../PUBLIC/IMAGES/landingPage/ccseLogo.png" alt="ccse logo" class="footerLogo">
            <div class="sendMessage" onclick="openMessageWindow()">
                send message
            </div>
        </div>

        <div class="linksForContactCCSE">
            <div class="contactIconContainer">
                <img src="../../PUBLIC/IMAGES/footer/email.svg" alt="email icon">
            </div>
            <div class="contactIconContainer">
                <img src="../../PUBLIC/IMAGES/footer/phone.svg" alt="phone icon">
            </div>
            <div class="contactIconContainer">
                <img src="../../PUBLIC/IMAGES/footer/facebook.svg" alt="facebook icon">
            </div>
            <div class="contactIconContainer">
                <img src="../../PUBLIC/IMAGES/footer/instagram.svg" alt="instagram icon">
            </div>
            <div class="contactIconContainer">
                <img src="../../PUBLIC/IMAGES/footer/location.svg" alt="location icon">
            </div>
        </div>
        <p class="rights">
            all reight reserved
        </p>
    </footer>

</body>

</html>