@font-face {
    font-family: 'Oswald';
    src: url(./static/Oswald-Regular.ttf);
}

@font-face {
    font-family: 'OswaldLight';
    src: url(./static/Oswald-Light.ttf);
}

@font-face {
    font-family: 'dancingScript';
    src: url(../Dancing_Script/static/DancingScript-Regular.ttf);
}