<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./serviceDescription.css">
    <script src="../../PUBLIC/JS/global.js"></script>
</head>
<style>
    .descriptionTitleAndPictures {
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(#00000088, #00000088), url(../../PUBLIC/IMAGES/services/COACHING.jpg);
    background-position: center;
    position: relative;
}
</style>
<body>
    <div class="descriptionContainer">
        <div class="descriptionTitleAndPictures">
            <div class="backToServicePage">
                <a href="../../index.html">
                    <img src="../../PUBLIC/IMAGES/services/back.svg" alt="back link">
                </a>
            </div>
            <div class="serviceInfoText">
                <div class="serviceTitle">
                    COACHING
                </div>
                <div class="serviceDetail">
                    Atteignez vos objectifs personnels et professionnels grâce à notre service de coaching personnalisé.</div>
            </div>
        </div>
        <div class="descriptionParagraphes">
            <img src="" class="designIcon" id="sectionBackgroundDesign" alt="design">
            <div class="switchInfo">
                <div class="circel circel1" onclick="vision(this)" id="vision">
                    <img src="../../PUBLIC/IMAGES/services/telescope-observation-svgrepo-com.svg" alt="telescope">
                </div>
                <div class="circel circel2" onclick="mission(this)" id="mission">
                    <img src="../../PUBLIC/IMAGES/services/assignment_turned_in_FILL0_wght400_GRAD0_opsz48.svg" alt="assignment">
                </div>
                <div class="circel circel3" onclick="objectif(this)" id="objectif">
                    <img src="../../PUBLIC/IMAGES/services/flag_FILL0_wght400_GRAD0_opsz48.svg" alt="flag">
                </div>
            </div>
            <div class="infoAboutServiceTitle" id="sectionTitle">
            </div>
            <div class="infoAboutService" id="sectionPara">
            </div>
        </div>
    </div>
    <script>
        function vision(element) {
            element.style.opacity = '1';
            element.style.width = '80px';
            element.style.height = '80px';
            $('sectionTitle').innerHTML = 'vision'
            $('sectionPara').innerHTML = `   Notre service de coaching est conçu pour aider les professionnels et les particuliers à atteindre leur plein potentiel. </br>Nous offrons un accompagnement personnalisé et adapté aux besoins de chaque client pour les aider à surmonter les obstacles, à clarifier
            leurs objectifs et à atteindre leurs aspirations.
            `;
            $('sectionBackgroundDesign').setAttribute('src', '../../PUBLIC/IMAGES/services/telescopeDesign.svg');
            $('mission').style.opacity = '0.6';
            $('mission').style.width = '60px';
            $('mission').style.height = '60px';
            $('objectif').style.opacity = '0.6';
            $('objectif').style.width = '60px';
            $('objectif').style.height = '60px';
        }
        vision($('vision'))

        function mission(element) {
            element.style.opacity = '1';
            element.style.width = '80px';
            element.style.height = '80px';
            $('sectionTitle').innerHTML = 'Mission'
            $('sectionPara').innerHTML = `   Nos coachs sont des experts dans leur domaine, avec une vaste expérience dans la gestion de carrière, la gestion de stress, la gestion du temps, la prise de décision, la communication et bien plus encore.</br> Ils travaillent en étroite collaboration avec
            nos clients pour identifier leurs besoins spécifiques, élaborer un plan d'action clair et les guider tout au long du processus.
            `;
            $('sectionBackgroundDesign').setAttribute('src', '../../PUBLIC/IMAGES/services/assignmentDesign.svg');
            $('vision').style.opacity = '0.6';
            $('vision').style.width = '60px';
            $('vision').style.height = '60px';
            $('objectif').style.opacity = '0.6';
            $('objectif').style.width = '60px';
            $('objectif').style.height = '60px';
        }

        function objectif(element) {
            element.style.opacity = '1';
            element.style.width = '80px';
            element.style.height = '80px';
            $('sectionTitle').innerHTML = 'Objectif'
            $('sectionPara').innerHTML = `   Notre service de coaching est la solution idéale pour les professionnels et les particuliers qui cherchent à atteindre leur plein potentiel.</br> Nos coachs expérimentés et qualifiés vous guideront à chaque étape du processus, en offrant des conseils pratiques et personnalisés pour vous aider à réussir.
            `;
            $('sectionBackgroundDesign').setAttribute('src', '../../PUBLIC/IMAGES/services/flagDesign.svg');
            $('vision').style.opacity = '0.6';
            $('vision').style.width = '60px';
            $('vision').style.height = '60px';
            $('mission').style.opacity = '0.6';
            $('mission').style.width = '60px';
            $('mission').style.height = '60px';
        }
    </script>
</body>

</html>