<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./serviceDescription.css">
    <title>Document</title>
</head>

<body>
    <div class="backToServicePage">
        <a href="./index.html">
            <img src="../../PUBLIC/IMAGES/back.svg" alt="">
        </a>
    </div>
    <div class="detailContainer">
        <div class="serviceInfoText">
            <div class="serviceTitle">
                FORMATION
            </div>
            <div class="serviceDetail">
                Développez les compétences de vos employés et augmentez la productivité de votre entreprise grâce à notre service de formation professionnelle. </div>
        </div>
        <div class="serviceInfoImage">
            <img src="../../PUBLIC/IMAGES/Free Vector _ Finish line concept illustration.jpeg" alt="service image">
        </div>
    </div>
    <div class="serviceDescription">
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/telescope-observation-svgrepo-com.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Vision
            </div>
            <div class="shapeDescription">
                Notre service de formation est conçu pour aider les entreprises à améliorer les compétences de leurs employés, augmenter leur productivité et atteindre leurs objectifs de croissance. Nous proposons une gamme de formations professionnelles, adaptées à
                tous les niveaux hiérarchiques et à tous les secteurs d'activité.</div>
        </div>
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/assignment_turned_in_FILL0_wght400_GRAD0_opsz48.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Mission
            </div>
            <div class="shapeDescription">
                Nos formateurs sont des experts dans leur domaine, dotés d'une vaste expérience pratique et d'une connaissance approfondie des meilleures pratiques en matière de formation. Ils travaillent en étroite collaboration avec nos clients pour comprendre leurs
                besoins spécifiques, élaborer des programmes de formation sur mesure et offrir une formation pratique et efficace.</div>
        </div>
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/flag_FILL0_wght400_GRAD0_opsz48.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Objectif
            </div>
            <div class="shapeDescription">
                Notre service de formation est la solution idéale pour les entreprises qui cherchent à améliorer les compétences de leurs employés et à augmenter leur productivité. Nous proposons des formations pratiques, adaptées à tous les secteurs d'activité, dispensées
                par des formateurs qualifiés et expérimentés pour garantir un impact concret et durable sur votre entreprise. </div>
        </div>
    </div>
</body>

</html>

</html>