<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./detail.css">
    <title>Document</title>
</head>

<body>
    <div class="backToServicePage">
        <a href="#">
            <img src="../../PUBLIC/IMAGES/back.svg" alt="">
        </a>
    </div>
    <div class="detailContainer">
        <div class="serviceInfoText">
            <div class="serviceTitle">
                Gestion de Ressources Humaines
            </div>
            <div class="serviceDetail">
                Optimisez la gestion de vos ressources humaines et améliorez la performance de votre entreprise avec notre service de conseil en GRH </div>
        </div>
        <div class="serviceInfoImage">
            <img src="../../PUBLIC/IMAGES/Teamwork.jpeg" alt="service image">
        </div>
    </div>
    <div class="serviceDescription">
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/telescope-observation-svgrepo-com.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Vision
            </div>
            <div class="shapeDescription">
                Notre service de ressources humaines est conçu pour aider les entreprises à recruter, à former et à gérer leur personnel de manière efficace. Nous comprenons que les ressources humaines sont la clé de la réussite de toute entreprise, c'est pourquoi nous
                offrons une gamme complète de services pour vous aider à gérer votre personnel de manière optimale.</div>
        </div>
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/assignment_turned_in_FILL0_wght400_GRAD0_opsz48.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Mission
            </div>
            <div class="shapeDescription">
                Que vous cherchiez à recruter de nouveaux employés, à former votre personnel existant ou à améliorer la gestion de la performance, notre service de ressources humaines est là pour vous aider. Nous offrons une gamme de services, y compris le recrutement,
                la formation, la gestion de la performance, la rémunération et les avantages sociaux, pour répondre à tous vos besoins en matière de ressources humaines. </div>
        </div>
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/flag_FILL0_wght400_GRAD0_opsz48.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Objectif
            </div>
            <div class="shapeDescription">
                En choisissant notre service de ressources humaines, vous bénéficiez d'un accompagnement personnalisé tout au long du processus. Nous travaillons en étroite collaboration avec vous pour comprendre vos objectifs, identifier les opportunités de croissance
                et proposer des solutions pratiques et durables pour vous aider à atteindre vos objectifs en matière de gestion des ressources humaines. </div>
        </div>
    </div>
</body>

</html>

</html>