<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Montserrat/Font.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="blockTitle">
        Services
    </div>
    <div class="serviceContainer">
       
        <p class="backgrounfTitle">
            CCSE
        </p>
        <div class="service">
            <img src="../../PUBLIC/IMAGES/CONSEIL JURIDIQUE.svg" alt="CONSEIL JURIDIQUE">
            <div class="serviceTitle">
                CONSEIL JURIDIQUE
            </div>
            <div class="serviceDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, animi voluptate perferendis impedit est quae natus architecto
            </div>
            <div class="learnMoreAboutService">
                learn more
                <img src="../../PUBLIC/IMAGES/chevron.svg" alt="start learn">
            </div>
        </div>
        <div class="service">
            <img src="../../PUBLIC/IMAGES/CONSEIL.svg" alt="CONSEIL">
            <div class="serviceTitle">
                CONSEIL
            </div>
            <div class="serviceDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, animi voluptate perferendis impedit est quae natus architecto
            </div>
            <div class="learnMoreAboutService">
                learn more
                <img src="../../PUBLIC/IMAGES/chevron.svg" alt="start learn">
            </div>
        </div>
        <div class="service">
            <img src="../../PUBLIC/IMAGES/COACHING.svg" alt="COACHING">
            <div class="serviceTitle">
                COACHING
            </div>
            <div class="serviceDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, animi voluptate perferendis impedit est quae natus architecto
            </div>
            <div class="learnMoreAboutService">
                learn more
                <img src="../../PUBLIC/IMAGES/chevron.svg" alt="start learn">
            </div>
        </div>
        <div class="service">
            <img src="../../PUBLIC/IMAGES/CERTIFICATION.svg" alt="CERTIFICATION">
            <div class="serviceTitle">
                CERTIFICATION
            </div>
            <div class="serviceDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, animi voluptate perferendis impedit est quae natus architecto
            </div>
            <div class="learnMoreAboutService">
                learn more
                <img src="../../PUBLIC/IMAGES/chevron.svg" alt="start learn">
            </div>
        </div>
        <div class="service">
            <img src="../../PUBLIC/IMAGES/INGENIERIE.svg" alt="INGENIERIE">
            <div class="serviceTitle">
                INGÉNIERIE
            </div>
            <div class="serviceDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, animi voluptate perferendis impedit est quae natus architecto
            </div>
            <div class="learnMoreAboutService">
                learn more
                <img src="../../PUBLIC/IMAGES/chevron.svg" alt="start learn">
            </div>
        </div>
        <div class="service">
            <img src="../../PUBLIC/IMAGES/FORMATION.svg" alt="FORMATION">
            <div class="serviceTitle">
                FORMATION
            </div>
            <div class="serviceDescription">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, animi voluptate perferendis impedit est quae natus architecto
            </div>
            <div class="learnMoreAboutService">
                learn more
                <img src="../../PUBLIC/IMAGES/chevron.svg" alt="start learn">
            </div>
        </div>
    </div>
    <!-- <style>
        .getMore {
            width: 100%;
            height: 700px;
            overflow: hidden;
            position: fixed;
            background-color: #fff;
        }
    </style>
    <div class="getMore">

    </div>
    <Script>
        function GetMoreAboutService() {}
    </Script> -->
</body>

</html>