<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../PUBLIC/CSS/Public.css">
    <link rel="stylesheet" href="../../PUBLIC/FONT/Oswald/Font.css">
    <link rel="stylesheet" href="./serviceDescription.css">
    <title>Document</title>
</head>

<body>
    <div class="backToServicePage">
        <a href="./index.html">
            <img src="../../PUBLIC/IMAGES/back.svg" alt="">
        </a>
    </div>
    <div class="detailContainer">
        <div class="serviceInfoText">
            <div class="serviceTitle">
                JURIDIQUE
            </div>
            <div class="serviceDetail">
                Optez pour un accompagnement de qualité pour votre développement et la gestion de vos formalités juridiques. Faites confiance à l'expertise reconnue de nos avocats pour garantir la sécurité de vos stratégies et de vos obligations. </div>
        </div>
        <div class="serviceInfoImage">
            <img src="../../PUBLIC/IMAGES/Download Lawyer education illustration concept vector for free.jpeg" alt="service image">
        </div>
    </div>
    <div class="serviceDescription">
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/telescope-observation-svgrepo-com.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Vision
            </div>
            <div class="shapeDescription">
                Nous comprenons que la sécurité juridique est essentielle pour la réussite de votre entreprise, c'est pourquoi nous travaillons en étroite collaboration avec nos clients pour les aider à comprendre les implications juridiques de leurs décisions commerciales.
                Nos avocats sont des experts dans leur domaine et ont une vaste expérience dans la gestion des questions juridiques complexes. </div>
        </div>
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/assignment_turned_in_FILL0_wght400_GRAD0_opsz48.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Mission
            </div>
            <div class="shapeDescription">
                Que vous cherchiez à développer votre entreprise ou à gérer des questions juridiques complexes, notre service d'accompagnement est là pour vous aider. Nous offrons une gamme de services, y compris l'aide à la création d'entreprise, la rédaction de contrats,
                la négociation de transactions et la résolution de litiges.</div>
        </div>
        <div class="shape">
            <img src="../../PUBLIC/IMAGES/flag_FILL0_wght400_GRAD0_opsz48.svg" alt="CERTIFICATION">
            <div class="shapeTitle">
                Objectif
            </div>
            <div class="shapeDescription">
                En choisissant notre service d'accompagnement, vous pouvez être sûr de bénéficier d'un accompagnement de qualité tout au long du processus. Nos avocats travailleront en étroite collaboration avec vous pour comprendre vos besoins spécifiques et proposer
                des solutions pratiques et adaptées à vos besoins.
            </div>
        </div>
    </div>
</body>

</html>

</html>